@page
@model MyApp.Namespace.AboutModel
@{
}

<p>
    Hej, jag är Aous Josef, 28 år gammal och bosatt i Malmö. Jag har haft nöjet att arbeta som apotekare i 3 år,
    inklusive erfarenhet från Apotek Hjärtat. Att hjälpa människor med deras hälsoproblem har varit en givande
    upplevelse och en viktig del av mitt yrkesliv.

    Nyligen har jag också startat min utbildning inom webbutveckling och ser fram emot att utforska den digitala världen
    och skapa spännande projekt. Jag har en stark önskan att kombinera mina erfarenheter från apoteksbranschen med mina
    nya färdigheter inom webbutveckling för att skapa innovativa digitala lösningar inom hälsovårdssektorn och andra
    områden.


</p>

<div class="quote-wrapper">
    <h3>Favorit citat</h3>
    <blockquote id="quote-el">"You were born with wings, why prefer to crawl through life?" -Rumi</blockquote>
    
    @* Gör en fetch anrop från till  javascript  *@
    
    <button onclick="getQuote()">Ny citat</button>
</div>
